{% extends 'articles/base.html' %}
{% load static %}

{% block title %}
<title>Главная страница</title>
{% endblock %}

{% block body %}
    <div class="articles">
    {% for article in articles %}
        <div class="article">
            <div class="article__header">
                <span class="article__header-body">
                    <span class="article__header-item">{{article.name}}</span> by
                    <span class="article__header-item">{{article.user}}</span>
                    <br/>
                    <span class="article__header-item">{{article.category.name}}</span>
                </span>
                <span>
                    {{article.time_updated}}
                </span>
            </div>
            <div class="article__body">
                <div class="article__photo">
                    <img src="{{article.photo.url}}" alt="Article photo">
                </div>
                <div class="article__text">
                    {{article.text|truncatechars:500}}
                </div>
            </div>
            <div class="article__footer">
                <button class="article__footer-button btn btn-danger">
                    <a href="{{ article.get_absolute_url }}">Read more</a>
                </button>
            </div>
        </div>
    {% endfor %}
    {% if page_obj.has_other_pages %}
    <div class="paginate_list">
        {% if page_obj.has_previous %}
            <div class="paginate_list__item">
                <a href="?page={{page_obj.previous_page_number}}">&lt;</a>
            </div>
        {% endif %}
        {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <div class="paginate_list__item paginate_list__item-active">
                {{p}}
            </div>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <div class="paginate_list__item">
                <a href="?page={{p}}">{{p}}</a>
            </div>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <div class="paginate_list__item">
                <a href="?page={{page_obj.next_page_number}}">&gt;</a>
            </div>
        {% endif %}
    </div>
    {% endif %}
    </div>

{% endblock %}